@font-face{
    font-family: ethnocentric;
    src: url(/main/resources/ethnocentric\ rg\ it.otf);
}

:root{
    /*Paleta de prueba 1*/
    --c1: rgb(35, 39, 42);
    --c2: rgb(44, 47, 51);
    --c3: rgb(64 78 237);
    --c4: rgb(88 101 242);
    --c5: rgb(153, 170, 181);
    --c6: rgb(246, 246, 246);
    --white: rgb(255,255,255);

    /*Paleta de prueba 2*/
}

*{
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: var(--c3);
}

.container{
    margin:0%;
    padding: 0%;
    background-color: var(--c3);
}

#title{
    text-align: left;
    padding: 2%;
    margin: 2%;
    width: 19%;
    background-color: var(--c1);
    font-size: 130%;
    font-family:ethnocentric;
    color: white;
}

nav{
    margin: 2%;
    padding: .5%;
    text-align: center;
    border: black solid 3px;
    background-color: var(--c2);
}

.tab{
    margin: 2%;
    position:relative;
    list-style-type: none;
    text-align:center;
    display: inline;
    background-color: var(--c5);
    font-family: ethnocentric;
}

.tab.current{
    border-radius: 1px;
    margin: 2%;
    position:relative;
    list-style-type: none;
    text-align:center;
    background-color: var(--c5);
    display: inline;
    color: var(--white);
}

.tab:hover{
    color:var(--white);
}

.content{
    display: none;
}

.content.current{
    margin: 2%;
    padding: .5%;
    display: block;
    background-color: grey;
}

footer{
    margin: 2%;
    padding: .5%;
    background-color: grey;
}