@font-face{
    font-family: ethnocentric;
    src: url(/main/resources/ethnocentric\ rg\ it.otf);
}

:root{
    --black-dark: rgb(35, 39, 42);
    --blakc-light: rgb(44, 47, 51);
    --blue-dark: rgb(64 78 237);
    --blue-light: rgb(88 101 242);
    --grey-dark: rgb(153, 170, 181);
    --grey-light: rgb(246, 246, 246);
    --white: rgb(255,255,255);
}

*{
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: var(--blue-dark);
}

.container{
    margin:0%;
    padding: 0%;
    background-color: var(--blue-dark);
}

#title{
    text-align: left;
    padding: 2%;
    margin: 2%;
    width: 19%;
    background-color: var(--black-dark);
    font-size: 130%;
    font-family:ethnocentric;
    color: white;
}

nav{
    margin: 2%;
    padding: .5%;
    text-align: center;
    border: black solid 3px;
    background-color: var(--blakc-light);
}

.tab{
    margin: 2%;
    position:relative;
    list-style-type: none;
    text-align:center;
    display: inline;
    background-color: var(--grey-dark);
    font-family: ethnocentric;
}

.tab.current{
    border-radius: 1px;
    margin: 2%;
    position:relative;
    list-style-type: none;
    text-align:center;
    background-color: var(--grey-dark);
    display: inline;
    color: var(--white);
}

.tab:hover{
    color:var(--white);
}

.content{
    display: none;
}

.content.current{
    margin: 2%;
    padding: .5%;
    display: block;
    background-color: grey;
}

footer{
    margin: 2%;
    padding: .5%;
    background-color: grey;
}
